<div class="content">
  <h1>Shoppy Shoppy Flickr</h1>
  {{#link-to 'cart' class= "cart"}}Cart{{/link-to}}
  <p>
    {{#each}}
      <img {{bind-attr src= 'photoURL'}}></img>
    {{/each}}
  </p>
</div>

